@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

body {
  overflow-x: hidden;
  color: #111827;
  background-color: #ffffff;
}

h1,
h2,
h3 {
  font-family: var(--font-playfair);
  color: #111827;
}

p,
a,
span,
button {
  font-family: var(--font-inter);
}

::selection {
  background: rgba(59, 130, 246, 0.2);
}

@keyframes floatParticle {
  from {
    transform: translateY(0px);
    opacity: 0.2;
  }

  to {
    transform: translateY(-20px);
    opacity: 0.6;
  }
}